.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  &-user {
    width: 70%;
  }

  &-delete {
    padding: 1rem;

    button {
      background-color: rgb(240, 54, 54);
      color: rgb(235, 235, 235);
    }
  }
}

.mat-mdc-card {
  width: 22rem;
  height: 14rem;
  word-wrap: break-word;
}

.mat-mdc-chip-set {
  padding: 1rem;
}